* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la página ocupe toda la altura de la ventana */
  background: rgba(55, 55, 55, 1);
}

.header-title {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

.main-content {
  flex: 1; /* Hace que este contenido ocupe el espacio disponible */
  padding: 10px;
}


.image-container img {
  width: 100%;
  height: auto;
}

.anime-title, .anime-category {
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.anime-title {
  margin-top: 20px;
}

.anime-category {
  margin-bottom: 10px;
}

.trailer-button {
  width: 100%;
  max-width: 151px;
  text-align: center;
}

.header-title {
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.description-title {
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.description-content {
  width: 100%;
  background: rgba(138, 138, 138, 1);
  padding: 10px;
  color: #fff;
  margin-top: 20px;
}
