<ion-content class="page-content">
  <div class="header-bar">
    <h1 class="header-title">Anime</h1>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="image-container">
          <img src="./../../assets/images/vtuber.jpg" alt="Vtuber Anime">
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="text-container">
          <h2 class="anime-title">VTuber Nandaga Haishin Kiri Wasuretara Densetsu ni Natteta</h2>
          <p class="anime-category">Comedia</p>
          <ion-button class="trailer-button" href="https://www.youtube.com/watch?v=dTLddFTPjUk" target="_blank">Ver Trailer</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 class="description-title">Descripción</h3>
        <div class="description-content">
          <p>
            La ex esclava asalariada de veinte años Yuki Tanaka ahora trabaja entre sus ídolos: los streamers de Live-On, 
            una de las principales compañías de VTuber de Japón. Como la hermosa y educada Awayuki Kokorone, solo ofrece 
            el contenido más femenino. Desafortunadamente, su recuento de suscriptores y sus ahorros están en el fondo.
          </p>
          <p>
            Una noche, después de que Yuki cree que terminó su transmisión, rompe algunas frías, y más que algunas bromas 
            crudas, mientras mira los archivos de video de Live-On. Pero sus espectadores lo escuchan todo, y los clips de 
            su comentario borracho y borracho se vuelven virales de la noche a la mañana. Yuki cree que su carrera ha terminado... 
            hasta que su manager revela que todos en Live-On han estado esperando que ella se rompa todo el tiempo y le da rienda 
            suelta para beber en el río.
          </p>
          <p>
            ¡Ahora libre de toda pureza fingida, salta directamente a su nuevo personaje "tonto borracho" y es recibida en el redil 
            por sus compañeros Live-On VTubers, que resultan ser tan locos como ella! Con sus puntos de vista y finanzas disparándose, 
            el trabajo de Yuki—¡por primera vez en su vida—es realmente divertido!
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer-bar"></div>
</ion-content>
