<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="season">
      <span class="material-symbols-outlined">saved_search</span>
      Season
    </ion-tab-button>
    <ion-tab-button tab="inicio">
      <span class="material-symbols-outlined">home</span>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="top">
      <span class="material-symbols-outlined">star</span>
      Top
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
