<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- LOGIN -->

 <div class="container">
   <div class="login-form">

      <div class="form-group">
       <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Usuario" type="text" [(ngModel)]="user"></ion-input>
      </div>
      <div class="form-group">
        <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </div>

      <div>
        <ion-button expand="block" (click)="onLoginButtonPressed()" ><span class="material-symbols-outlined">arrow_forward</span></ion-button>
      </div>
      <div>
        <ion-button color="success" expand="block" (click)="onRegisterButtonPressed()"> Registrarse </ion-button>
      </div>

    </div>
  </div>


  

</ion-content>
