<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slots="start">
      <ion-back-button defaultHref="/tab/inicio"></ion-back-button>Noticia
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Noticia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <img src="./../../assets/images/jjk-1.webp">
  </div>

  <div>
    <ion-text class="container-text-title">
      <h3>¡El esperado y triste final de Jujutsu Kaisen!</h3>
    </ion-text>
  </div>

  <div class="container">
    <ion-text class="text">
      "Jujutsu Kaisen", uno de los mangas más influyentes y populares de la última década, está acercándose a su tan esperado final. 
      La serie, que ha capturado la imaginación de millones de lectores en todo el mundo, 
      está en su recta final, según ha confirmado su creador, Gege Akutami.
    </ion-text>
  </div>

  <div class="container">
    <ion-text class="text">
      Desde su debut, "Jujutsu Kaisen" ha contado una historia apasionante de hechiceros, maldiciones y batallas épicas. 
      Con su enfoque único en el mundo de los exorcismos y el oscuro mundo de las maldiciones, 
      el manga rápidamente se convirtió en un éxito, ganándose un lugar destacado en el corazón de los aficionados al manga y al anime.
    </ion-text>
  </div>

  <div class="container">
    <ion-text class="text">
      Los últimos capítulos de la serie han elevado las expectativas de los lectores, 
      con desarrollos narrativos que han intensificado tanto la acción como el drama. 
      La comunidad de seguidores está al borde de sus asientos, ansiosa por ver cómo concluirá la historia de 
      Yuji Itadori y sus compañeros.
    </ion-text>
  </div>

  <div class="container">
    <ion-text class="text">
      Gege Akutami, el talentoso autor detrás de "Jujutsu Kaisen", ha expresado su gratitud hacia los fans 
      por su apoyo constante a lo largo de los años. 
      Akutami ha asegurado que el final de la serie estará a la altura de las expectativas y promete un desen
    </ion-text>

  </div>
</ion-content>