<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <a href="./noticia"><img alt="Silhouette of mountains" src="./../../assets/images/jjk-1.webp"></a>
    <ion-card-header>
      <ion-card-title>¡Jujutsu Kaisen!</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
      El famoso manga ya casi llega a su fin
    </ion-card-content>
  </ion-card>

  <ion-list lines="full">
    <ion-item>
      <div class="container">
        <img class="circular-icon" src="./../../assets/images/one-piece.jpg">
        <ion-label>One Piece</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="container">
        <img class="circular-icon" src="./../../assets/images/kimetsu.jpg">
        <ion-label>Kimetsu no yaiba</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="container">
        <img class="circular-icon" src="./../../assets/images/black.jpg">
        <ion-label>Black Clover</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="container">
        <img class="circular-icon" src="./../../assets/images/naruto.jpg">
        <ion-label>Naruto</ion-label>
      </div>
    </ion-item>

  </ion-list>

</ion-content>
