<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Season</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-grid">
    <ion-card>
      <ion-card-content>
        <a href="./vtuber">
          <img alt="VTuber anime" src="./../../assets/images/vtuber.jpg">
        </a>
        <div class="card-info">
          <ion-card-header>
            <ion-card-title>VTuber Nandaga Haishin Kiri Wasuretara Densetsu ni Natteta</ion-card-title>
          </ion-card-header>
          <p class="card-status">Actualmente al Aire</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <a href="./roshidere">
          <img alt="Roshidere" src="./../../assets/images/Roshidere.jpg">
        </a>
        <div class="card-info">
          <ion-card-header>
            <ion-card-title>Tokidoki Bosotto Russia-go de Dereru Tonari no Alya-san</ion-card-title>
          </ion-card-header>
          <p class="card-status">Actualmente al Aire</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <a href="./fairytail100">
          <img alt="Fairy Tail: 100-nen Quest" src="./../../assets/images/FairyTail100.jpg">
        </a>
        <div class="card-info">
          <ion-card-header>
            <ion-card-title>Fairy Tail: 100-nen Quest</ion-card-title>
          </ion-card-header>
          <p class="card-status">Actualmente al Aire</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <a href="./shikanoko">
          <img alt="Shikanoko Nokonoko Koshitantan" src="./../../assets/images/shikanoko.jpg">
        </a>
        <div class="card-info">
          <ion-card-header>
            <ion-card-title>Shikanoko Nokonoko Koshitantan</ion-card-title>
          </ion-card-header>
          <p class="card-status">Actualmente al Aire</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>